## [Start] Set the primary key. **
$util.qr($ctx.stash.metadata.put("modelObjectKey", {
  "userId": $util.dynamodb.toDynamoDB($ctx.args.userId),
  "workoutId": $util.dynamodb.toDynamoDB($ctx.args.workoutId)
}))
## [End] Set the primary key. **
{}