@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
  }

  #root {
    height: 100%;
  }
}
